spring:
  application:
    name: chore-server
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: localhost
      port: 6379
      username: default
      password: systempass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        use_sql_comments: true
        highlight_sql: true

server:
  port: 19096

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/

management:
  # Prometheus μ„Έν…
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  # Zipkin μ„Έν…
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"
  tracing:
    sampling:
      probability: 1.0

springdoc:
  swagger-ui:
    path: /chore/swagger-ui
  api-docs:
    path: /chore/v3/api-docs

weather:
  service:
    key: ${WEATHER_SERVICE_KEY}

slack:
  incoming-hook:
    url: ${SLACK_URL}

gemini:
  api:
    key: ${GEMINI_API_KEY}

logging:
  level:
    org:
      springframework:
        cache: DEBUG